<div class="container">

  <div class="row">
    <div class="col text-center">
      <h3>
        {{formtitle}}
      </h3>
    </div>
  </div>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <div class="fields-container">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name *">
          </mat-form-field>
          <div class="invalid-feedback" *ngIf="fields.firstName.invalid && (fields.firstName.dirty || fields.firstName.touched)">
            <div *ngIf="fields.firstName.errors">
              <div *ngIf="fields.firstName.errors.required">Please enter a First Name</div>
              <div *ngIf="fields.firstName.errors.pattern">Numbers are not allowed</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name *">
          </mat-form-field>
          <div class="invalid-feedback" *ngIf="fields.lastName.invalid && (fields.lastName.dirty || fields.lastName.touched)">
            <div *ngIf="fields.lastName.errors">
              <div *ngIf="fields.lastName.errors.required">Please enter a Last Name</div>
              <div *ngIf="fields.lastName.errors.pattern">Numbers are not allowed</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput email formControlName="email" placeholder="Email *">
          </mat-form-field>
          <div class="invalid-feedback" *ngIf="fields.email.invalid && (fields.email.dirty || fields.email.touched)">
            <div *ngIf="fields.email.errors">
              <div *ngIf="fields.email.errors.required">Please enter an email address</div>
              <div *ngIf="fields.email.errors.email || fields.email.errors.pattern ">Invalid Email!!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput type="tel" minlength="10" formControlName="phoneNumber" placeholder="Phone Number *">
          </mat-form-field>
          <div class="invalid-feedback" *ngIf="fields.phoneNumber.invalid && (fields.phoneNumber.dirty || fields.phoneNumber.touched)">
            <div *ngIf="fields.phoneNumber.errors">
              <div *ngIf="fields.phoneNumber.errors.required">Please enter a phone number</div>
              <div *ngIf="fields.phoneNumber.errors.minlength">Phone Number should have 10 digits</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="status-label">Status </label>
          <mat-radio-group formControlName="status">
            <mat-radio-button value="active">Active</mat-radio-button>
            <mat-radio-button class="ml-3" value="inactive">Inactive</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-right">
        <button class="mr-2" mat-raised-button color="accent" mat-dialog-close>Cancel</button>
        <button [disabled]="contactForm.invalid" type="submit" mat-raised-button color="primary">Save</button>
      </div>
    </div>
  </form>
</div>
