<section class="no-contact" *ngIf="!contactListToCheck?.length">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col">
        <img src="../../assets/img/404.png">
        <button mat-raised-button color="accent" (click)="openFormDialog()" class="add-contact-btn">
          Add a contact
        </button>
      </div>
    </div>
  </div>
</section>

<section *ngIf="contactListToCheck?.length">
  <div class="jumbotron jumbotron-fluid text-center p-2 mb-2 pt-3">
    <div class="container">
      <h2>Evolent Contact Management App</h2>
      <p class="lead">One Stop Shop to Manage your Contacts</p>
    </div>
  </div>


  <div class="container contacts-wrapper">
    <div class="row">
      <div class="col add-button-wrapper text-center">
        <button mat-raised-button color="accent" (click)="openFormDialog()" class="add-contact-btn">
          Add a contact
        </button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div #showList class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4" *ngFor="let contact of contactList">
        <app-contact-card [card-data]="contact"></app-contact-card>
      </div>
    </div>
  </div>

</section>