.not-found {
  background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7)), url(../../assets/img/404.png) center no-repeat;
  height: 99.9vh;
}

#evo-nav-heading {
  width: 100%;
  text-align: center;
}

#search-contact {
  display: block;
  margin: 0.7em auto 0;
}

.no-record-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
}