.no-contact {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.no-contact .col {
  position: relative;
}

.no-contact .add-contact-btn {
  position: absolute;
  bottom: 47%;
  right: 28%;
}

.add-contact-btn {
  font-size: 1.2em;
}

.no-contact .add-contact-btn:hover {
  box-shadow: 0 0 7px 3px rgba(185, 149, 11, 0.64);
}

#nav-heading {
  width: 100%;
  text-align: center;
}

.add-button-wrapper {
  padding: 1.5em 0;
}