/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif !important;
}

html, body {
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.c-form-backdrop {
  background: rgba(0,0,0,0.6);
}

.c-form-dialog .mat-dialog-container {
  background: #e3ddff;
  box-shadow: 7px 10px 10px 0px rgba(0,0,0);
}