<mat-card class="contact-card text-center">
  <mat-card-header>
    <mat-card-title class="mb-2">{{cardData.firstName}} {{cardData.lastName}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/img/user.png" alt="Profile Picture">
  <mat-card-content>
    <p class="mb-2">{{cardData.email}}</p>
    <p class="mb-2">{{cardData.phoneNumber}}</p>
    <p class="mb-2"><span [ngClass]="{'active':  cardData.status === 'active', 'inactive':  cardData.status === 'inactive'}">
        {{cardData.status | titlecase}} </span></p>
  </mat-card-content>
  <mat-card-actions>
    <button class="float-right" mat-raised-button (click)="openFormDialog(cardData)">Edit</button>
    <button class="float-left" mat-raised-button color="warn" (click)="deleteContact(cardData.id)">Delete</button>
    <div class="clearfix"></div>
  </mat-card-actions>
</mat-card>